<div [hidden]="IsHiddenRiskHome">
    <mat-toolbar color="primary">
        <div class="riskTitleClass">Risk Assessment Home</div>
        <span class="fill-remaining-space"></span>
        <div class="bgDropDown">
            <label>Business Group  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <mat-form-field>
                <select placeholder="" matNativeControl required>
                    <option *ngFor="let bgname of bgnames" [value]="bgname.buName">
                        {{bgname.buName}}
                    </option>
                </select>
            </mat-form-field>
        </div>
    </mat-toolbar>
    
    
    <div class="mainWrapper">
      <div class="container mat-elevation-z8">
          <div class="risk-dropdowns" layout="row" flex>
    
              <div class="port-dropdown"> 
               <mat-form-field>
                   <select placeholder="Portfolio" matNativeControl required>
                     <option value="Portfolio 1">Portfolio 1</option>
                     <option value="Portfolio 2">Portfolio 2</option>
                     <option value="Portfolio 3">Portfolio 3</option>
                     <option value="Portfolio 4">Portfolio 4</option>
                   </select>
                </mat-form-field>
              </div>
              <div class="prod-dropdown"> 
                 <mat-form-field>
                     <select placeholder="Product" matNativeControl required>
                       <option value="Product 1">Product 1</option>
                       <option value="Product 2">Product 2</option>
                       <option value="Product 3">Product 3</option>
                       <option value="Product 4">Product 4</option>
                     </select>
                   </mat-form-field>
               </div>
   
         </div>
          <button mat-button class="viewRiskButton" (click)="sendMeRiskAssessment()">Create/Update Risk Assessment</button>
          <div class="form risk-search">
            <mat-form-field floatPlaceholder="never" color="accent">
              <input matInput #filter placeholder="Filter locations">
            </mat-form-field>
          </div>
        
          <mat-paginator #paginator
          [length]="dataSource.filteredData.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
          </mat-paginator>
         
          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- ID Column -->
            <ng-container matColumnDef="productName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
              <mat-cell *matCellDef="let row" >{{row.productName}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="assetTypes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Types</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.assetTypes}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="repository">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Repository</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.repository}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="userAssetLocation">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.userAssetLocation}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="dataOwner">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Data Owner</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.dataOwner}}</mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="dataCustodian">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Data Custodian</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.dataCustodian}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="vulnerabilityGap">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Vulnerability Gap</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.vulnerabilityGap}}</mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="secureStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.secureStatus}}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="lastSecuredOnDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Secured Date</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastSecuredOnDate}}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="action">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.action}}</mat-cell>
                    </ng-container>
        
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                  <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
              </mat-header-cell>
        
              <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent" (click)="startEdit(i, row.productName, row.assetTypes, row.repository, row.userAssetLocation, 
                row.dataOwner, row.dataCustodian, row.vulnerabilityGap, row.secureStatus, row.lastSecuredOnDate, row.action)">
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
        
                <button mat-icon-button color="accent" (click)="deleteItem(i, row.productName, row.assetTypes, row.repository, row.userAssetLocation)">
                  <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            No results
          </div>
        </div>
      </div>
</div>
  